.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #eaeaea;
}

.icon {
  padding: 10px;
  color: #fff;
}

.name {
  font-size: 1.4rem;
  background: -webkit-linear-gradient(110deg, #f93d66, #6d47d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
